.detailWrapper {
  display: grid;
  font-size: 30px;
  font-weight: bold;
  grid-template-rows: auto;
  padding-left: 0px;
  margin-left: 20px;
}

.nestedDetailWrapper {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  list-style-type: none;
  font-size: 20px;
  font-weight: normal;
  align-items: left;
  text-align: left;
  margin-left: -20px;
}

.nestedDetailWrapper > details {
  background-color: #eee;
  padding-left: 20px
}

.nestedDetailWrapper > details:nth-last-child(odd) {
  background-color: #c9d4e7;
}

summary {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-transform: capitalize;
}